.card{
  width: 300px;
  margin: 10px;
  box-sizing:border-box;
  box-shadow: 1px 2px 4px black;
}
.image-style{
  width: 100%;
}
.card-body{
  padding: 5px;
  background-color:rgb(57, 125, 128)
  
}
.card-title{
  font-size: 2rem;
  text-align: center;
  color: rgb(8, 17, 92);
  font-weight:bold;
}
.card-description{
  text-align: justify;
  line-height: 1.5;
  color: white;
}
.card:hover{
  box-shadow: 10px 12px 10px white;
}
.card-containers{
  box-sizing:border-box;
  display: flex;
  background-color:rgb(2, 2, 54);
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.my-pic{
  height: 130PX;
  width: 120px;
  border: 1 px solid white;
  border-radius:50%;
  float: right;
  position:relative;
  bottom: 150px;
  left: 3px;
}